.main-wrapper{
  margin: 2rem 0;
}

.font-content{
  margin: 1rem 0;
  padding: 2rem 1.5rem;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid grey;
  overflow: hidden;
  transition: all .3s ease-in-out;
  box-sizing: border-box;
  div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-family: sans-serif;
  }

  h2{
    font-size: 2.5rem;
  }
  
  &:hover{
    border-bottom: 1px solid transparent;
    background-color: #d3d3d3b0;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 500px){
  .font-content{
    padding: 1rem 1rem;
    div{
      margin-bottom: 1rem;
    }
  
    h2{
      font-size: 1rem;
    }
  }
}