// Loader 

.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  color: #000;
  border: 2px solid;
  box-sizing: border-box;
  position: fixed;
  transform-origin: left;
  animation: l2 1s infinite linear;
  top: 50%;
  left: 50%;
  z-index: 99999;
  transform: translate(-50%);
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0 0 auto;
  margin: auto;
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid;
  box-sizing: content-box;
  transform-origin: 50% calc(100% - 4px);
  animation: inherit;
}
.loader::after {
  inset:auto 0 calc(100% + 2px);
  animation-duration: 0.4s;
  animation-direction: reverse;
  transform-origin: 50% calc(200% - 2px);
}
@keyframes l2{
  100% {transform:rotate(1turn)}
}


// Container

.container{
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

// left Modal

.dewider-left{
  top: 0;
  left: 100px;
  position: fixed;
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  height: 100%;
  background-color: #F8FAFD;
  z-index: 99;
  transition: all .40s ease;
  overflow: auto;
}

// Sceleton

.font-content-sceleton{
  border: none;
  &:hover{
    background-color: transparent !important;
  }
}