.navigation{
    .nav-logo{
    .first{
      width: 300px;
      height: 80px;
      object-fit: cover;
      margin-left: -2rem;
      user-select: none;
      mix-blend-mode: multiply;
    }
    .second{
      display: none;
    }
  }
  
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  form{
    height: 50px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    border-radius: 30px;
    padding: 0 1rem;
    background-color: var(--pg-color);
    i{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
    }
    input{
      height: 100%;
      flex-grow: 1;
      border: none;
      outline: none;
      border-right: 1px solid gray;
      font-size: 1rem;
      padding-left: 1rem;
      color: #969696;
      background-color: transparent;
    }
  }
  .nav-select{
    .css-dev-only-do-not-override-1xg9z9n{
      height: 35px !important;
      margin-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px !important;
      border-radius: 7px !important;
    }
  }
  .cart{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.7rem;
    padding: 5px;
    &:hover{
      background-color: #d6d6d6cb;
    }
  }
}

@media only screen and (max-width: 950px) {
  .navigation{
    padding: 1rem 0;
    .nav-logo{
    .first{
      width: 200px;
      height: 60px;
      object-fit: cover;
      margin-left: -2rem;
    }
  }
}
  nav{
    form{
      input{
        border-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  #dark-logo{
    h1{
      display: none;
    }
  }
}

@media only screen and (max-width: 800px) {
  .navigation{
    .nav-logo{
      .first{
        display: none;
      }
      .second{
        display: inline-block;
        width: 35px;
        height: 35px;
        object-fit: contain;
      }
    }
  }
  #dark-logo{
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .nav-select{
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  nav{
    gap: 5px;
    form{
      height: 30px;
      i,input{
        font-size: .6rem;
      }
    }
    .css-rt4zii-MuiBadge-badge{
      display: none !important; 
    }
    .cart{
      width: 25px;
      height: 25px;
      font-size: .7rem;
    }
  }
  
}
